<h4>All Web Related Links</h4>
<ul>
    <% for( let i = 0; i < data.length; i++ ) { %>
        <li>
            <a href="/web/<%=data[i].id%>"><%=data[i].name%></a>
        </li>
    <% } %>
</ul>
<a class="btn btn-info" href="/web/getData">Get Data</a>