
<h3>Create a New Category for Web</h3>

<form action="/web" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>